<div class="container">
  <div class="row">
    <h1>Listing reservations</h1>

    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Check in</th>
          <th>Check out</th>
          <th>Notes</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.user_id %></td>
            <td><%= reservation.check_in %></td>
            <td><%= reservation.check_out %></td>
            <td><%= reservation.notes %></td>
            <td><%= link_to 'Show', reservation %></td>
            <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
            <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Reservation', new_reservation_path %>
  </div>
</div>